body {
    
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

nav {
    height: 80px;
    background-color: #0F52BA;
    position: fixed;
    top: 0px;
    overflow: hidden;
    width: 100%;
    z-index: 100;
}
nav img {
    color: white;
    position: absolute;
    top: 24px;
    left: 12%;
}

nav ul {
    float: right;
    margin-right: 25px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;
}

nav ul li a {
    position: relative;
    color: white;
    font-size: 18px;
    /* text-transform: uppercase; */
    padding: 5px 0;
    transition: all .5s;
}

nav ul li a:before {
    position: relative;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    background: white;
    transform: scaleX(0);
    transform-origin: right;
    transition: all .5s;
}

nav ul li a:hover:before {
    transform: scaleX(1);
    transform-origin: right;
}

nav ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: white;
    height: 1px;
    transition: all .4s;
}

nav ul li a:hover:after {
    width: 95%;
    color: white;
}

nav ul li a:hover {
    color: white;
}

label #btn,
label #cancel {
    color: white;
    font-size: 30px;
    position: absolute;
    right: 0;
    line-height: 80px;
    margin-right: 30px;
    cursor: pointer;
    display: none;
    margin-left: 20px;
    top: 3px;
}

#check {
    display: none;
}

@media only screen and (max-width: 944px) {
    nav img {
        left: 6%;
        top: 22px;
        margin-left: 30px;
    }

    nav ul li a {
        font-size: 17px;
    }
}

@media only screen and (max-width: 860px) {
    label #btn {
        display: block;
    }

    .nav-menu {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #0f52ba;
        top: 80px;
        right: -110%;
        text-align: start;
        transition: all .5s;
        z-index: 100;
    }

    ul li a {
        margin-left: 12%;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    #check:checked ~ ul {
        right: -50%;
    }

    #check:checked ~ label #btn {
        display: none;
    }

    #check:checked ~ label #cancel {
        display: block;
    }
}

@media only screen and (max-width: 695px) {

    ul li a {
        margin-left: 8%;
        font-size: 16px;
    }
}


@media only screen and (max-width: 530px) {

    ul li a {
        line-break:auto;
    }
}