
  <nav>
    <input type="checkbox" id="check">
    <!-- <img src="../../../assets/images/butterfly.png" /> -->
    <label for="check">
      <span class="material-symbols-outlined" id="btn">
        menu
      </span>
      <span class="material-symbols-outlined" id="cancel">
        close
      </span>
    </label>
    <ul class="nav-menu" #navMenu>
      <li><a routerLink="/home" #navText>Home</a></li>
      <li><a routerLink="/about" #navText>About</a></li>
      <li><a routerLink="/founder" #navText>Founder</a></li>
      <li><a routerLink="/brawlers-boxing" #navText>Brawlers Boxing</a></li>
      <li><a routerLink="/the-grapple-hub" #navText>The Grapple hub</a></li>
    </ul>
  </nav>