<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">TBM</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/about">
              About
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/founder">Founder</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" routerLink="/brawlers-boxing">Brawlers Boxing</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/the-grapple-hub">The Grapple Hub</a>
          </li>
        </ul>
      </div>
    </div>
  </nav> -->
<!-- <app-header-item
  *ngFor="let headerItem of header; let i = index"
  [header]="headerItem"
  [index]="i"
></app-header-item> -->



  <!-- <nav>

    <input type="checkbox" id="check">
    <label for="check">
      <span class="material-symbols-outlined" id="btn">
        menu
      </span>
      <span class="material-symbols-outlined" id="cancel">
        close
      </span>
    </label>
    <ul class="nav-menu" #navMenu>
      <li class="first-nav"><a routerLink="/home" #navText>Home</a></li>
      <li><a routerLink="/about" #navText>About</a></li>
      <li><a routerLink="/services" #navText>Services</a></li>
      <li><a routerLink="/founder" #navText>Founder</a></li>
      <li><a routerLink="/brawlers-boxing" #navText>Brawlers Boxing</a></li>
      <li><a routerLink="/the-grapple-hub" #navText>The Grapple hub</a></li>
      <li><a routerLink="/gallery" #navText>Gallery</a></li>
      <li><a routerLink="/contact" #navText>Contact</a></li>
    </ul>
  </nav> -->

  <nav>
    <span class="nav-res-menu" (click)="onMenuToggle()" *ngIf="!toggleMenu">
      <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#ffffff}</style><path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/></svg>    
    </span>
    <span class="nav-res-close" (click)="onMenuToggle()" *ngIf="toggleMenu">
      <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#ffffff}</style><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/></svg>    
    </span>

    <ul class="nav-menu-desktop" *ngIf="!toggleMenu">
      <li class="first-nav"><a routerLink="/home">Home</a></li>
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/services">What We Provide</a></li>
      <li><a routerLink="/founder">Founder</a></li>
      <li><a routerLink="/brawlers-boxing">Brawlers Boxing</a></li>
      <li><a routerLink="/the-grapple-hub">The Grapple hub</a></li>
      <!-- <li><a routerLink="/gallery">Gallery</a></li> -->
      <li><a routerLink="/contact">Contact</a></li>
    </ul>

    <ul class="nav-menu-mobile" *ngIf="toggleMenu">
      <li class="first-nav"><a routerLink="/home" (click)="onMenuToggle()">Home</a></li>
      <li><a routerLink="/about" (click)="onMenuToggle()">About</a></li>
      <li><a routerLink="/services" (click)="onMenuToggle()">What We Provide</a></li>
      <li><a routerLink="/founder" (click)="onMenuToggle()">Founder</a></li>
      <li><a routerLink="/brawlers-boxing" (click)="onMenuToggle()">Brawlers Boxing</a></li>
      <li><a routerLink="/the-grapple-hub" (click)="onMenuToggle()">The Grapple hub</a></li>
      <!-- <li><a routerLink="/gallery" (click)="onMenuToggle()">Gallery</a></li> -->
      <li><a routerLink="/contact" (click)="onMenuToggle()">Contact</a></li>
    </ul>
  </nav>