#about-section {
    background: rgba(32, 33, 36, 0.1);
    position: relative;
}

.blockabout {
    padding: 20px;
    background: white;
    box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
}

.blockabout-inner {
    padding: 30px;
    border: 1px solid rgba(32, 33, 36, 0.1);
}

.sosmed-horizontal a i {
    border: 1px solid #070707;
    border-radius: 50%;
    color: #070707;
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    margin: auto 3px;
    font-size: 15px;
    text-align: center;
    transition: all 0.3s;
}

.rey-btn {
    border: 2px solid #070707;
    padding: 10px 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 13px;
    font-weight: 700;
    border-radius: 50px;
    transition: all 0.3s;
}

h3 {
    font-weight: 700;
    color: #20247b;
    font-size: 45px;
    margin: 0 0 15px;
    border-left: 5px solid #fc5356;
    padding-left: 15px;
}

h4 {
    font-weight: 700;
    color: #20247b;
    font-size: 36px;
    margin: 0 0 15px;
    border-left: 5px solid #fc5356;
    padding-left: 15px;
}

.blockabout {
    margin-top: 60px;
}

.coach {
    font-family: 'Lobster', cursive;
}

.founder-images {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.images {
    text-align: center;
}

.description-p {
    text-align: start;
}

.qualifications {
    padding: 20px;
    background: white;
    box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
}

/* @media only screen and (max-width: 994px) {
    .founder-images {
        width: 100%;
    }
}

@media only screen and (max-width: 669px) {
    .founder-images {
        width: 31em;
    }
} */

.brawlers-boxing {
    width: 100%;
}

.the-grapple-hub {
    width: 80%;
}

@media only screen and (max-width: 767px) {
    .col-lg-4 .col-md-4 .col-12 {
        margin-top: 10px;
    }
    
}