    <div class="container">
        
        <div class="row mt-5">
            <div class="align-items-center d-flex justify-content-center mb-5 mb-lg-0">
                <div class="blockabout">
                    <div class="blockabout-inner text-center text-sm-start">
                        <div class="title-big pb-3 mb-3">
                            <h3>About the Founder - COACH.H</h3>
                        </div>
                        <p class="description-p text-muted pe-0 pe-lg-0">
                            <strong>Coach.H</strong> is a social mobiliser & a mixed martial artist from the East End of London, (Tower Hamlets). 
                            Growing up through adverse poverty and social delinquencies, Coach.H developed a passion to create 
                            progressive changes on a global and local scale by empowering hearts and minds through education and 
                            exercise. Now you may be questioning what (H) stands for. There have been numerous discussions regarding 
                            this topic. Some have said it stands for humanity and while others have said hero, who knows perhaps it 
                            may remain a mystery
                        </p>
                        <p class="description-p text-muted pe-0 pe-lg-0">
                            The viewpoint that I embrace in life is with a deep understanding that youth and community work is 
                            not a 9-5 job but rather a way of life. In order to bring the best out of young people and the wider 
                            community, we must be willing to give back in order to empower all those around us.
                        </p>
                        <div class="sosmed-horizontal pt-3 pb-3">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                        <a href="#" class="btn rey-btn mt-3">See More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
