<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="../../../assets/images/hanan.jpeg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Founder</h1>
            <p class="description-p pe-0 pe-lg-0">
                <strong>Abdul Hannan</strong>, otherwise known as <strong>‘Coach.H’</strong> is a social mobiliser and a mix martial artist 
                from Tower Hamlets. Growing up through adverse poverty and socio-economic disadvantage, he developed 
                a passion to create progressive change on a global and local scale by empowering hearts and minds 
                through education and exercise. Now you may be questioning what (H) stands for. There have been numerous 
                discussions regarding this topic. Some have said it stands for humanity and while others have said hero, 
                but I guess we’ll leave that for you to decide!
            </p>
            <div class="sosmed-horizontal pt-3 pb-3">
                <!-- <a href="#"><i class="fa fa-facebook"></i></a> -->
                <a href="https://www.instagram.com/coach.h/"><i class="fa fa-instagram"></i></a>
                <!-- <a href="#"><i class="fa fa-pinterest"></i></a> -->
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            </div>
        </div>
        <p class="description-p pe-0 pe-lg-0 text-center">
            <strong>"The viewpoint that I embrace in life is with a deep understanding that youth and community work is not a 
            9-5 job but rather a way of life. To bring the best out of young people and the wider community, 
            we must be willing to give back to empower all those around us."</strong><br><br>
            <strong class="signed">Coach.H</strong>
        </p>
    </div>
  </div>
    
    <div class="container">
        
        <!-- <div class="row mt-5">
            <div class="align-items-center d-flex justify-content-center mb-lg-0">
                <div class="blockabout">
                    <div class="blockabout-inner text-center text-sm-start">
                        <div class="title-big pb-3 mb-3">
                            <h3>Founder</h3>
                        </div>
                        <p class="description-p pe-0 pe-lg-0">
                            <strong>Abdul Hannan</strong>, otherwise known as <strong>‘Coach.H’</strong> is a social mobiliser and a mix martial artist 
                            from Tower Hamlets. Growing up through adverse poverty and socio-economic disadvantage, he developed 
                            a passion to create progressive change on a global and local scale by empowering hearts and minds 
                            through education and exercise. Now you may be questioning what (H) stands for. There have been numerous 
                            discussions regarding this topic. Some have said it stands for humanity and while others have said hero, 
                            but I guess I’ll leave that for you to decide!
                        </p>
                        <p class="description-p pe-0 pe-lg-0 text-center">
                            <strong>"The viewpoint that I embrace in life is with a deep understanding that youth and community work is not a 
                            9-5 job but rather a way of life. To bring the best out of young people and the wider community, 
                            we must be willing to give back to empower all those around us."</strong>
                        </p>
                        <p class="signed text-center">
                            <strong>Coach.H</strong>
                        </p>
                        <div class="sosmed-horizontal pt-3 pb-3">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.instagram.com/coach.h/"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>

                        <div class="text-center founder-images">
                            <div class="row align-items-center images">
                                <div class="col-lg-4 col-md-4 col-12">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12">
                                            <div class="card work-desk rounded border-0 shadow-lg overflow-hidden">
                                                <img src="../../../assets/images/hanan3.jpg" class="img-fluid" alt="Image" />
                                                <div class="img-overlay bg-dark"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                
                                <div class="col-lg-4 col-md-4 col-12">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12">
                                            <div class="card work-desk rounded border-0 shadow-lg overflow-hidden">
                                                <img src="../../../assets/images/hanan2.jpg" class="img-fluid" alt="Image" />
                                                <div class="img-overlay bg-dark"></div>
                                            </div>
                                        </div>
                
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-4 col-12">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12">
                                            <div class="card work-desk rounded border-0 shadow-lg overflow-hidden">
                                                <img src="../../../assets/images/hanan.jpeg" class="img-fluid" alt="Image" />
                                                <div class="img-overlay bg-dark"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        

                        <a href="#" class="btn rey-btn mt-3">See More</a>
                    </div>
                </div>
            </div>
        </div> -->

        <!-- <div class="row mt-2">
            <div class="align-items-center d-flex justify-content-center mb-5 mb-lg-0">
                <div class="blockabout">
                    <div class="blockabout-inner text-center text-sm-start">
                        <div class="title-big pb-3 mb-3">
                            <h4>Founded Projects:</h4>
                        </div>

                        <p class="description-p pe-0 pe-lg-0">
                            <strong>Brawlers Boxing (2013)</strong> 
                             - The love for sports inspired me to give back to the wider 
                            community and harbour community cohesion using my skills, knowledge, and experience. 
                            Shortly after the London 2012 Olympics, I initiated and founded a community project 
                            called ‘Brawlers Boxing’. The project arose to tackle youth delinquency, promote active 
                            participation, and better health. The movement went on to transform many lives, and along 
                            the way, won the ‘Tower Hamlets Community Safety Award’ by Metropolitan Police and ‘The 
                            English Asian Business Awards’ as finalists by Lloyds Bank.
                        </p>
                        <img src="../../../assets/images/brawlers-boxing.png" class="brawlers-boxing" />
                        <a routerLink="/brawlers-boxing" class="btn rey-btn mt-3">See More</a>

                        <p class="description-p pe-0 pe-lg-0 mt-5">
                            <strong>The Grapple Hub (2022)</strong> 
                            After piloting the project for 2 years, I 
                            successfully launched this MMA club. This community project promotes the sport of Brazilian 
                            Jiu Jitsu and grappling in the heart of the East End. It is a safe space for people to enjoy 
                            themselves, have fun and learn useful life skills with an aim to reduce the rates of delinquency 
                            and violent crimes in the area. The club follows the teachings of Bradley Hill who oversees the 
                            curriculum and grading. He is the youngest 2nd degree black belt in the UK and since our opening, 
                            the club has gained a variety of medals and has established a renowned reputation in our community.
                        </p>
                        <img src="../../../assets/images/the-grapple-hub.jpg" class="brawlers-boxing" />
                        <a routerLink="/the-grapple-hub" class="btn rey-btn mt-3">See More</a>
                    </div>
                </div>
            </div>
        </div> -->

        <div class="container">
            <div class="title-big pb-3 mb-3">
                <h4>Founded Projects</h4>
            </div>

            <div class="row d-flex justify-content-center">
                <div class="card qualifications col-lg-3 m-1 text-center">
                    <div class="card-body">
                        <h5 class="card-title">Brawlers Boxing (2013)</h5>
                        <img src="../../../assets/images/brawlers-boxing.png" class="brawlers-boxing" />
                        <a routerLink="/brawlers-boxing" class="btn rey-btn mt-3">See More</a>
                    </div>
                </div>
                <div class="card qualifications col-lg-3 m-1 text-center">
                    <div class="card-body">
                        <h5 class="card-title">The Grapple Hub (2022)</h5>
                        <img src="../../../assets/images/the-grapple-hub.jpg" class="the-grapple-hub" />
                        <a routerLink="/the-grapple-hub" class="btn rey-btn mt-3">See More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container mt-5">
            <div class="title-big pb-3 mb-3">
                <h4>Qualifications</h4>
            </div>

            <div class="row d-flex justify-content-center">
                <div class="card qualifications col-lg-3 m-1">
                    <div class="card-body">
                        <h5 class="card-title">Joint Negotiating Committee, Level 6 in Youth & Community Work.</h5>
                    </div>
                </div>
                <div class="card qualifications col-lg-3 m-1">
                    <div class="card-body">
                        <h5 class="card-title">BA in Youth & Community Work.</h5>
                    </div>
                </div>
                <div class="card qualifications col-lg-3 m-1">
                    <div class="card-body">
                        <h5 class="card-title">The Amateur Boxing Association of England- Boxing Assistant & Head Coach.</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="container mt-5">
            <div class="title-big pb-3 mb-3">
                <h4>Training</h4>
            </div>

            <div class="row d-flex justify-content-center">
                <div class="card qualifications col-lg-3 m-1">
                    <div class="card-body">
                        <h5 class="card-title">Advanced Safeguarding Children.</h5>
                    </div>
                </div>
                <div class="card qualifications col-lg-3 m-1">
                    <div class="card-body">
                        <h5 class="card-title">Behaviour Management & Gang Mediation.</h5>
                    </div>
                </div>
                <div class="card qualifications col-lg-3 m-1">
                    <div class="card-body">
                        <h5 class="card-title">Community Sports Leadership, Level 1 and 2.</h5>
                    </div>
                </div>
                <div class="card qualifications col-lg-3 m-1">
                    <div class="card-body">
                        <h5 class="card-title">FGM Training.</h5>
                    </div>
                </div>
                <div class="card qualifications col-lg-3 m-1">
                    <div class="card-body">
                        <h5 class="card-title">Tower Hamlets Courses - How to be a Learning Mentor.</h5>
                    </div>
                </div>
                <div class="card qualifications col-lg-3 m-1">
                    <div class="card-body">
                        <h5 class="card-title">Young Minds - Self Harm.</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="container mt-5">
            <div class="title-big pb-3 mb-3">
                <h4>Sporting Acheivements</h4>
            </div>

            <div class="row d-flex justify-content-center">
                <div class="card qualifications col-lg-3 m-1">
                    <div class="card-body">
                        <h5 class="card-title">
                            <strong>‘London 2 Makkah’</strong> <br>(Cycle Ride)
                        </h5>
                        <p class="card-text">
                            One of two first British nationals to cycle from London to Saudi Arabia, 
                            covering 5,000 Km through 13 countries in 56 days for charity.
                        </p>
                    </div>
                </div>
                <div class="card qualifications col-lg-3 m-1">
                    <div class="card-body">
                        <h5 class="card-title">
                            <strong>‘Makkah 2 Madinah’</strong> (Walk)
                        </h5>
                        <p class="card-text">
                            One of five British Nationals to walk from Makkah 2 Madina.
                        </p>
                    </div>
                </div>
                <div class="card qualifications col-lg-3 m-1">
                    <div class="card-body">
                        <h5 class="card-title">
                            <strong>Boxing</strong>
                        </h5>
                        <p class="card-text">
                            Amateur Boxing Association England, London Champion, and National Quarter Finalist 2009.
                        </p>
                    </div>
                </div>
                
            </div>
        </div>

    </div>
