<div class="bgimg-1" data-aos="fade-up" data-aos-duration="1000">
  <div class="hero-text">
    <img src="../../../../assets/images/logo.png" class="logo" />
    <h2 class="motto">Educate <span>&#183;</span> Empower <span>&#183;</span> Exercise</h2>
    <p class="signed">
      <a routerLink="/founder" class="text-decoration-none">
        <strong>By COACH.H</strong>
      </a>
    </p>   
    <a routerLink="/services" class="btn rey-btn mt-3">What We Provide</a>
  </div>
</div>

    
<div class="hero-text2" data-aos="fade-up" data-aos-duration="1000">
  <div class="container">
    <h3 style="text-align:center; color: #212529; font-family: 'Candal', sans-serif;">Our Objective</h3>
    <p class="obj-text">
      The Butterfly Movement aims to provide an integrated approach to youth & community work through physical empowerment. 
      This venture promises to bring a new wave of movement keeping the wider community, our clients, and beneficiaries in mind.
    </p>
    <a routerLink="/about" class="btn rey-btn mt-3 learn-more">Learn More</a>
  </div>
</div>