<app-banner></app-banner>


<!-- <div class="curved-div">
    <div class="carousel">
        <h3 class="testimonials">Testimonials</h3>

        <div class="container">
    
            <div class="carousel-control pre" (click)="pre()">
                <span class="material-symbols-outlined">
                    arrow_back_ios
                </span>
            </div>
    
            <div class="carousel-container">
                <div class="carousel-item" [class.active]="isActive == 1">
                    <p class="testimon-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </p>
                    <p>
                        Lorem
                    </p>
                </div>
                <div class="carousel-item" [class.active]="isActive == 2">
                cheu hom ay em noi roi anh rang minh kho
                </div>
                <div class="carousel-item" [class.active]="isActive == 3">
                c
                </div>
            </div>
            <div class="carousel-control next" (click)="next()">
                <span class="material-symbols-outlined">
                    arrow_forward_ios
                </span>
            </div>
        </div>
    </div>

</div> -->

<div id="carouselExampleCaptions" class="carousel slide" data-aos="fade-up" data-aos-duration="1000">
    <h3 class="testimonials">Testimonials</h3>

    <div class="carousel-inner">
        <div class="carousel-item">
            <p class="carousel-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
            <p class="carousel-text-signed">
                Lorem
            </p>
        </div>
        <div class="carousel-item">
            <p class="carousel-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
            <p class="carousel-text-signed">
                Lorem
            </p>
        </div>
        <div class="carousel-item active">
            <p class="carousel-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non ipsum tincidunt, luctus elit rhoncus, rutrum ante. Maecenas finibus diam et dapibus mattis. Fusce sit amet nulla ac felis cursus mattis. Vestibulum sit amet dapibus quam. Vestibulum purus risus, elementum quis mi a, ullamcorper fringilla lorem. Vivamus nisl ligula, aliquet et dui nec, elementum viverra tortor. Vestibulum viverra fermentum ligula rutrum elementum. Praesent scelerisque, eros ut vulputate aliquam, lorem tortor auctor enim, in dapibus nisi dolor at felis. Sed vulputate augue metus, in ultricies erat lobortis sit amet.
            </p>
            <p class="carousel-text-signed">
                Lorem
            </p>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="material-symbols-outlined" aria-hidden="true">arrow_back_ios</span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="material-symbols-outlined" aria-hidden="true">arrow_forward_ios</span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


