<div class="container">
    <div class="row align-items-center">

        <div class="col-lg-6 col-md-6 col-12 text">
            <div class="section-title ml-lg-5">
                <h5 class="text-custom font-weight-normal mb-3">Brawlers Boxing – Est 2013</h5>
                <p class="mb-0">
                    The love for sports inspired Coach. H to give back to the wider community and harbour 
                    community cohesion using his skills, knowledge and experience. Shortly after the London 
                    2012 Olympics, Coach.H initiated and founded a community project called ‘Brawlers Boxing’. 
                    The project arose to tackle youth delinquency and promote physical participation & better health. 
                    The movement went on to transform many lives, and along the way, won the ‘Tower Hamlets Community 
                    Safety Awards’ by Metropolitan Police and ‘The English Asian Business Awards’ (finalist) by Lloyds Bank.
                </p>

            </div>
        </div>

        <div class="col-lg-6 col-md-6">
            <div class="row align-items-center images">
                <div class="col-lg-6 col-md-6 col-6">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 mt-4 pt-2">
                            <div class="card work-desk rounded border-0 shadow-lg overflow-hidden">
                                <img src="../../../assets/images/bb-2.jpeg" class="img-fluid" alt="Image" />
                                <div class="img-overlay bg-dark"></div>
                            </div>
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->
                </div>
                <!--end col-->

                <div class="col-lg-6 col-md-6 col-6">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 pt-2">
                            <div class="card work-desk rounded border-0 shadow-lg overflow-hidden">
                                <img src="../../../assets/images/brawlers-boxing.png" class="img-fluid mb-3" alt="Image" />
                                <div class="img-overlay bg-dark"></div>
                            </div>
                        </div>
                        <!--end col-->

                        <div class="col-lg-12 col-md-12 mt-4">
                            <div class="card work-desk rounded border-0 shadow-lg overflow-hidden">
                                <img src="../../../assets/images/pads-h2.jpeg" class="img-fluid" alt="Image" />
                                <div class="img-overlay bg-dark"></div>
                            </div>
                        </div>
                        <!--end col-->


                    </div>
                    <!--end row-->
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end col-->

        
        <!--end col-->
    </div>
    <!--enr row-->
</div>


