<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<section class="section services-section" id="services">
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="">
                    <div class="section-title">
                        <h2>Values and Beliefs</h2>
                        <h3>At its core, our motto is to Educate, Empower, Exercise</h3>
                        <div class="text-center quote">
                            <p>
                                <strong>“The ability to empower an individual or a group can be best fostered through two streams, 
                                education and exercise.”</strong>
                            </p>
                            <p class="signed">
                                <a routerLink="/founder" class="text-decoration-none"><strong>Coach.H</strong></a>
                            </p>
                        </div>
                        <p>
                            By fostering empowerment through our body and using 
                            education as our wings, we hope to create the notion of self-belief. Taking from the butterfly effect, 
                            we believe that by empowering our youth through these means, we provide them with opportunities and a 
                            long-lasting relationship with the community and a renewed outlook on life.
                        </p>
                        <p>
                            Before one can ‘fly’ we believe that our youth should strive to complete the following core values:
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- feaure box -->
                <div class="col-sm-6 col-lg-4">
                    <div class="feature-box-1">
                        <div class="icon">
                            <span class="material-symbols-outlined">
                                self_improvement
                                </span>
                        </div>
                        <div class="feature-content">
                            <h5>BE YOU</h5>
                            <p>
                                Our team encourages our members to embrace individuality and by doing so they now 
                                can approach life with a smile and truly make the world their oyster.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- / -->
                <!-- feaure box -->
                <div class="col-sm-6 col-lg-4">
                    <div class="feature-box-1">
                        <div class="icon">
                            <span class="material-symbols-outlined">
                                mindfulness
                                </span>
                        </div>
                        <div class="feature-content">
                            <h5>ULTRA MINDSET</h5>
                            <p>Nurturing a ‘can do’ attitude.</p>
                        </div>
                    </div>
                </div>
                <!-- / -->
                <!-- feaure box -->
                <div class="col-sm-6 col-lg-4">
                    <div class="feature-box-1">
                        <div class="icon">
                            <span class="material-symbols-outlined">
                                record_voice_over
                                </span>
                        </div>
                        <div class="feature-content">
                            <h5>TEACH OTHERS</h5>
                            <p>
                                The best way to learn is through teaching others. 
                                While this helps memory recall, it also creates a sense of communal support.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- / -->
                <!-- feaure box -->
                <div class="col-sm-6 col-lg-4">
                    <div class="feature-box-1">
                        <div class="icon">
                            <span class="material-symbols-outlined">
                                point_scan
                                </span>
                        </div>
                        <div class="feature-content">
                            <h5>TARGETS</h5>
                            <p>Setting realistic and attainable goals (focusing on SMART goals).</p>
                        </div>
                    </div>
                </div>
                <!-- / -->
                <!-- feaure box -->
                <div class="col-sm-6 col-lg-4">
                    <div class="feature-box-1">
                        <div class="icon">
                            <span class="material-symbols-outlined">
                                volunteer_activism
                                </span>
                        </div>
                        <div class="feature-content">
                            <h5>EMPOWERMENT</h5>
                            <p>Not only empowering oneself, but also those around you through education and exercise.</p>
                        </div>
                    </div>
                </div>
                <!-- / -->
                <!-- feaure box -->
                <div class="col-sm-6 col-lg-4">
                    <div class="feature-box-1">
                        <div class="icon">
                            <span class="material-symbols-outlined">
                                airline_seat_flat_angled
                                </span>
                        </div>
                        <div class="feature-content">
                            <h5>REST</h5>
                            <p>The importance of rest is crucial to sustain our bodies as well as our mental health.</p>
                        </div>
                    </div>
                </div>
                <!-- / -->

                <div class="text-center">
                    <div class="feature-box-2">
                        <div class="feature-content">
                            <h5>FLY</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
