#banner-image {
  /* The image used */
  background-image: url("../assets/images/kenya2.jpeg");
  /* Full height */
  height: 50em;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  margin: -10px;
  margin-top: -25px;
  opacity: 0.8;
  /* border: 1px solid red; */
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 50px;
  }

  .title {
    /* font-family: 'Satisfy', cursive; */
    font-family: 'Lobster', cursive;
    color: white;
    font-size: 80px;
    text-shadow: 3px 3px black;
    overflow-wrap: normal;
  }

  .subheading {
    font-family: 'Lobster', cursive;
    margin-left: 2.2em;
    color: white;
    font-size: 76px;
    text-shadow: 2px 2px black;
  }

  @media only screen and (max-width: 767px) {
    .title {
        overflow-wrap: break-word;
        font-size: 66px;
        font-size: 46px;
    }
    .subheading {
        font-size: 56px;
        margin-left: 0px;
        font-size: 18px;
    }
    #banner-image {
        background-image: url("../assets/images/kenya3.jpeg");
    }
  }

  @media only screen and (max-width: 480) {
    .title {
        overflow-wrap: break-word;
        font-size: 34px;
    }
    .subheading {
        font-size: 17px;
        margin-left: 0px;
    }
    #banner-image {
        background-image: url("../assets/images/kenya3.jpeg");
    }
  }