.section {
    padding: 50px 0;
    position: relative;
    margin-top: 60px;

}
.section-title {
    padding-bottom: 45px;
}
.section-title h2 {
    font-weight: 700;
    color: #212529;
    font-size: 45px;
    margin: 0 0 15px;
    border-left: 5px solid #2c3e50;
    padding-left: 15px;
}

.styled {
    font-family: 'Satisfy', cursive;
}