<!-- Service 4 - Bootstrap Brain Component -->
<section class="bg-light py-5 py-xl-8">
    <div class="container mb-5 mb-md-6 mb-xl-10">
      <div class="row justify-content-md-center">
        <div class="col-12 col-md-10 col-lg-8 col-xl-7 text-center">
          <h3 class="fs-6 mb-2" style="font-family: 'Archivo Black', sans-serif; color: #212529;">WHAT WE PROVIDE?</h3>
          <!-- <h2 class="display-5 mb-4 mb-md-5">We are giving you perfect solutions with our proficient services.</h2> -->
          <hr class="w-50 mx-auto mb-0" style="color: #212529;">
        </div>
      </div>
    </div>
  
    <div class="container overflow-hidden">
      <div class="row gy-4 gy-xl-0 d-flex justify-content-center">

        <div class="col-12 col-sm-6 col-xl-3">
          <div class="card border-0 border-bottom border-primary shadow-sm">
            <div class="card-body text-center p-4 p-xxl-5">
              <div class="row">
                <div class="col">
                  <img src="../../../assets/icons/boxing.png" alt="" class="icon">
                </div>
                <div class="col">
                  <img src="../../../assets/icons/add.png" alt="" class="icon2">
                </div>
                <div class="col">
                  <img src="../../../assets/icons/book.png" alt="" class="icon">
                </div>
              </div>
              <h4 class="mb-4 mt-4">Boxing and Books</h4>
              <p class="mb-4 text-secondary">
                Boxing is an amazing tool to engage young people support through counselling and mentoring through our sessions.
              </p>
              <!-- <a href="#!" class="fw-bold text-decoration-none link-primary">
                Learn More
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                </svg>
              </a> -->
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-xl-3">
          <div class="card border-0 border-bottom border-primary shadow-sm">
            <div class="card-body text-center p-4 p-xxl-5">
              <div class="row">
                <div class="col">
                  <img src="../../../assets/icons/workshop.png" alt="" class="icon">
                </div>
              </div>
              <h4 class="mb-4 mt-4">Wise Workshops</h4>
              <p class="mb-4 text-secondary">
                We provide a combination of informal education through accredited AQA programmes, Gang awareness / better health and finally aspiration workshops.
              </p>
              <!-- <a href="#!" class="fw-bold text-decoration-none link-primary">
                Learn More
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                </svg>
              </a> -->
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-xl-3">
          <div class="card border-0 border-bottom border-primary shadow-sm">
            <div class="card-body text-center p-4 p-xxl-5">
              <div class="row">
                <div class="col">
                  <img src="../../../assets/icons/karate.png" alt="" class="icon">
                </div>
              </div>
              <h4 class="mb-4 mt-4">Personal Training/Group Sessions</h4>
              <p class="mb-4 text-secondary">
                Start your journey to better health today. We provide a mixture of Boxing, Brazilian Jiu Jitsu and Muay Thai. Your personal trainer...
              </p>
              <!-- <a href="#!" class="fw-bold text-decoration-none link-primary"> -->
              <a class="fw-bold text-decoration-none link-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                Learn More
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                </svg>
              </a>
            </div>
          </div>
        </div>

      </div>

      <div class="collapse mt-3" id="collapseExample">
        <div class="card card-body">
          Start your journey to better health today. We provide a mixture of Boxing, Brazilian Jiu Jitsu and Muay Thai. Your personal trainer will 
          have a tailored approach towards your goal and ambitions whether it may be improving your cardio vascular fitness, muscular endurance, 
          learning a new martial art or just improving your general health &amp; well-being. Remember a journey of a thousand miles begins with a 
          single step.
        </div>
      </div>
    </div>
  </section>