/* section {
    margin-top: 4em;
} */

.icon {
    height: 40px;
}

.icon2 {
    height: 20px;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../../assets/images/pads-h2.jpeg");
  
    width: 100%;
    height: 40%;
    margin-top: 70px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.card {
    color: #212529;
    transition: ease all 0.35s;
    box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
}

.card:hover {
    background-color: #0f52ba;
    color: white;
    margin-top: -3px;

    & a {
         color: white;
    }
    & a:hover {
        color: lightgrey;
   }
}

